body
{
font-family: 'Montserrat', sans-serif;
font-size: 16px;
margin: 0px;
padding-top: -10px;
background-color: white;
margin-top: -10px;
width:80%;
}

nav {
  display: inline-block;
  float:right;
  vertical-align: middle;
  padding-top: 10px;

}
nav ul
{
list-style: none;
text-align: center;
display: inline-block;
margin:0px;
padding:0px;
vertical-align: middle;
}
nav ul li
{
display: inline-block;
margin: 0px .5em;
vertical-align: middle;
}

nav ul li a
{
display: block;
padding: 0px 1em;
text-decoration: none;
color: grey;
}

section 
{
padding: 0px 1em;
width:82%;
display: inline-block;
margin:0px;
}

section article {
	width: 49%;
	display: inline-block;
}

section article figure {
	
width: 50%;
border: none;
padding: 0;
margin: 0 auto;
border-radius: none;
}